<%= form_for(@article) do |f| %>
  <div class="form-group <%= 'has-error' if @article.errors.any? %>">
    <label class="control-label" for="title">
      Title

      <% if @article.errors[:title].any? %>
        <%= @article.errors[:title].join(', ') %>
      <% end %>
    </label>

    <%= f.text_field :title, class:'form-control' %>
  </div>

  <div class="form-group <%= 'has-error' if @article.errors.any? %>">
    <label class="control-label" for="body">
      Body

      <% if @article.errors[:body].any? %>
        <%= @article.errors[:body].join(', ') %>
      <% end %>
    </label>

    <%= f.text_area :body, rows:15, class:'form-control'  %>
  </div>

  <p class="help-block">
    Written as <%= link_to 'markdown', 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet' %>
    &amp; rendered to html.
  </p>

  <button type="submit" class="btn btn-primary">Save</button>
  <button type="submit" class="btn btn-danger">Delete</button>
<% end %>
