<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <%= f.text_field :title, class:'form-control' %>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Article</label>
    <%= f.text_area :body, rows:15, class:'form-control'  %>
  </div>

  <button type="submit" class="btn btn-default">Preview</button>
  <button type="submit" class="btn btn-primary">Publish</button>
  <button type="submit" class="btn btn-danger">Delete</button>
<% end %>
