<p id="notice"><%= notice %></p>

<% @articles.each do |article| %>
  <div class="blog-post">
    <h2 class="blog-post-title">
      <%= link_to article.title, article_path(article) %>
    </h2>

    <p class="blog-post-meta">
      Written by <a href="#">Mark</a> on January 1, 2014

      &raquo;

      <%= link_to '#' do %>
        <%= rand(100) %> comments
      <% end %>
    </p>

    <p><%= article.body %></p>

    <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
    <hr>
    <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
    <blockquote>
      <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
    </blockquote>
  </div>

  <h1 style="text-align:center; color: whitesmoke; font-size:2em;">&sect;</h1>
  <br/>
<% end %>
