<% @articles.each do |article| %>
  <div class="blog-post">
    <h2 class="blog-post-title">
      <%= link_to article.title, article_path(article) %>
    </h2>

    <p class="blog-post-meta">
      Written by 
      <%= link_to Rails.application.config_for(:author)['name'], root_url %>
      on <%= local_time article.created_at %>

      <% unless article.comments.count.zero? %>
        &raquo;
  
        <%= link_to article_path(article, anchor:'comments' ) do %>
          <%= article.comments.count %>
          comments
        <% end %>
      <% end %>
    </p>
    
    <div class="summary">
      <% cache [ @article, :body ] do %>
        <%= Redcarpet::Markdown.
              new(Redcarpet::Render::HTML).
              render(truncate(article.body)).
              html_safe %>
      <% end %>
    </div>
  </div>

  <h1 class="section">&sect;</h1>
<% end %>
