<p id="notice"><%= notice %></p>

<div class="article">
  <h2 class="title">
    <%= @article.title %>
    <small>
      &rarr;
      <%= link_to 'EDIT', edit_article_path(@article) %>
    </small>
  </h2>

  <p class="meta">
    Written by <%= link_to Rails.application.config_for(:author)['name'], root_url %>
    on <%= @article.created_at.to_s(:long_ordinal) %>

    &raquo;

    <%= link_to '#' do %>
      <%= rand(100) %> comments
    <% end %>
  </p>

  <div class="content">
    
    <% cache [ @article, :body ] do %>
      <%= Redcarpet::Markdown.
            new(Redcarpet::Render::HTML).
            render(@article.body).
            html_safe %>
    <% end %>
  </div>
</div>

<h4 style="color:gray;">
  Would you like to <%= link_to "comment", '#' %> ?
</h4>

<br/>

<div class="media">
  <a class="pull-right" href="#" >
    <img class="media-object avatar" src="http://placekitten.com/76/76" alt="">
  </a>

  <blockquote>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </p>

    <footer>
      <cite title="Source Title">
        <%= link_to 'Joan Smith', '#' %>
      </cite>
      <span>&nbsp; August 25, 2014 at 9:30 PM</span>
    </footer>
  </blockquote>
</div>

<div class="media">
  <a class="pull-right" href="#" >
    <img class="media-object avatar" src="http://placekitten.com/76/76" alt="">
  </a>

  <blockquote>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

    </p>

    <footer>
      <cite title="Source Title">
        <%= link_to 'Joan Smith', '#' %>
      </cite>
      <span>&nbsp; August 25, 2014 at 9:30 PM</span>
    </footer>
  </blockquote>
</div>

<div class="media">
  <a class="pull-right" href="#" >
    <img class="media-object avatar" src="http://placekitten.com/76/76" alt="">
  </a>

  <blockquote>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

    </p>

    <footer>
      <cite title="Source Title">
        <%= link_to 'Joan Smith', '#' %>
      </cite>
      <span>&nbsp; August 25, 2014 at 9:30 PM</span>
    </footer>
  </blockquote>
</div>

<div class="media">
  <a class="pull-right" href="#" >
    <img class="media-object avatar" src="http://placekitten.com/76/76" alt="">
  </a>

  <blockquote>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </p>

    <footer>
      <cite title="Source Title">
        <%= link_to 'Joan Smith', '#' %>
      </cite>
      <span>&nbsp; August 25, 2014 at 9:30 PM</span>
    </footer>
  </blockquote>
</div>

<br/>

<div class="well" style="background-color:AntiqueWhite;">
  <form role="form">
    <div class="form-group">
      <label for="exampleInputEmail1">Comment</label>
      <textarea class="form-control" rows="4"cols="10"></textarea>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Name">
    </div>

  <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Website</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="e.g. http://example.org">
    </div>

    <button type="submit" class="btn btn-primary">
      Post comment
    </button>
  </form>
</div>

<br/>

<h1 style="text-align:center; color: whitesmoke; font-size:2em;">&sect;</h1>
