<p id="notice"><%= notice %></p>

<div class="article">
  <h2 class="title">
    <%= @article.title %>
    <small>
      &rarr;
      <%= link_to 'EDIT', edit_article_path(@article) %>
    </small>
  </h2>

  <p class="meta">
    Written by <%= link_to Rails.application.config_for(:author)['name'], root_url %>
    on <%= local_time @article.created_at %>

    <% unless @article.comments.count.zero? %>
      &raquo;

      <%= link_to anchor:'comments' do %>
        <%= @article.comments.count %>
        comments
      <% end %>
    <% end %>
  </p>

  <div class="content">
    <% cache [ @article, :body ] do %>
      <%= Redcarpet::Markdown.
            new(Redcarpet::Render::HTML).
            render(@article.body).
            html_safe %>
    <% end %>
  </div>
</div>

<h4 style="color:gray;">
  Would you like to <%= link_to "comment", '#' %> ?
</h4>

<br/>

<div class="comments">
  <%= content_tag :a, '', :name => 'comments' %>

  <%= render partial:'comments/show',
        collection:@article.comments,
        as:'comment' %>
</div>

<br/>

<%= render partial:'comments/form',
      object:@article.comments.new,
      as:'comment' %>

<br/>

<h1 style="text-align:center; color: whitesmoke; font-size:2em;">&sect;</h1>
