<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Catalan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
</head>
<body>
  <div class="container">
    <div class="blog-header">
      <h1>
        <%= link_to 'Catalan Blog', root_path %>

        <small>
          &hellip; written by cats for cats &mdash; from Catalonia!
        </small>
      </h1>

      <p>
        <% if author_signed_in? %>
          &rArr;
          WRITE A <%= link_to 'NEW ARTICLE', new_article_path %>
           |
        <% end %>

        <%= link_to 'Subscribe with your email', new_subscription_path %>
        &amp; you won&apos;t miss another article!
      </p>

      <% if flash.notice %>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= flash.notice %>
            </h3>
          </div>
        </div>
      <% end %>

      <% if flash.alert %>
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= flash.alert %>
            </h3>
          </div>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-sm-8 blog-main">
        <%= yield %>
      </div>

      <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module">
        </div>
      </div>
    </div>
  </div>

  <footer class="blog-footer">
  </footer>

</body>
</html>
